.div-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin-bottom: 2em;
}

.container-home{
    flex: 1;
    height: 100vh;
    overflow-y: auto;
}

.subtitle-home{
    text-align: center;
    font-size: 2.3em;
    margin-bottom: .6em;
    margin-top: .5em;
}

.subtitle-home span {
    color: #4390FD;
    position: relative;
    display: inline-block;
}

.subtitle-home span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px; /* espacio entre texto y línea */
    width: 0%;
    height: 3px;
    background-color: currentColor;
    transition: width 0.8s ease;
}

.subtitle-home span:hover::after {
    width: 100%;
}

.ant-card{
    width: 300px;
    height: 165px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}